body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.quake_header {
  background-color: rgba(29,161,242,1.0);
  padding: 2px;
}

.navbar__h1 {
  text-align: center;
  padding-top: 7px;
}

.navbar__p {
  text-align: center;
}

/* .map-section {
  height: 100vh;
  width: 100%;
} */

.map__section {
  height: 100vh;
  width: 100vw;
}

.quake__magnitude {
  font-weight: bold;
}

.quake__magnitude__red {
  font-weight: bold;
  color: crimson;
}


.popup__quaketime {
  color: rgba(29,161,242,1.0);
}

